<div>
  <a href="/dragons/new">Add new dragon</a> - <a href="/dragons/adoptable">Filter adoptable dragons</a> - <a href="/dragons/adopted">Filter adopted dragons</a><br><br>

  <% @dragons.each do |dragon| %>
  <a href="/dragons/<%= dragon.id  %>">

  Name: <%= dragon.name %></a><br>
  Type: <%= dragon.type %><br>
  Admission Date: <%= dragon.admission_date %><br>
  Adopted: <%= dragon.adopted %><br>
  Adoption Date: <%= dragon.adoption_date %><br>
  Trained: <%= dragon.trained %><br>
  Trained Date: <%= dragon.trained_date %><br>
  
  <br><hr>
  <% end %>

  
</div>