<a href="/dragons/<%= @dragon.id %>/edit">Edit</a> - <a href="/dragons">Return</a> <br>
<br>

<div class="clearfix float-my-children">
  <img src="/images/<%=@dragon.type%>.png" alt="Cover" height="400" width="400">

  <a>
    Dragon Id : <%= @dragon.id %><br>  
    Name : <%= @dragon.name %> <br>
    Type : <%= @dragon.type %><br>
    Admission Date : <%= @dragon.admission_date %><br>
    Adopted : <%= @dragon.adopted %><br>
    Adoption Date : <%= @dragon.adoption_date %><br>
    Trained : <%= @dragon.trained %><br>
    Trained Date : <%= @dragon.trained_date %><br>
  </a>
</div>
<center></center>

<br>

<form action="/dragons/<%= @dragon.id %>" method="post">
  <input type="submit" value="delete"/>
  <input name="_method" type="hidden" value="delete"/>
</form>



