<div>
  Name: <%= @dragon.name %> <br>
  Type: <%= @dragon.type %><br>
  Admission Date: <%= @dragon.admission_date %><br>
  Adopted: <%= @dragon.adopted %><br>
  Adoption Date: <%= @dragon.adoption_date %><br>
  Trained: <%= @dragon.trained %><br>
  Trained Date: <%= @dragon.trained_date %><br>
</div>
<br>


<a href="/dragons/<%= @dragon.id %>/edit">Edit</a>

<form action="/dragons/<%= @dragon.id %>" method="post">
<input type="submit" value="delete"/>
<input name="_method" type="hidden" value="delete"/>
</form>
