<a><%= @owner.name %> of <%= @owner.address %> </a>- <a href="/owners/<%= @owner.id %>/edit">Edit</a> - <a href="/owners">Return</a><br><br>



<center><img src="/images/<%=@owner.name%>.png" alt="Cover" height="500" width="300"></center>

<form action="/owners/<%= @owner.id %>" method="post">
<input type="submit" value="delete"/>
<input name="_method" type="hidden" value="delete"/>
</form>